body {
    background: black;
    user-select: none;
  }
  
  .container {
    border: 3px solid gold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px; 
    background-color: black;
    padding: 5px;
    border-radius: 25px;
    width: 220px;
    height: 425px;
    font-family: "Helvetica";
    font-size: 20px;
    justify-content: center;
    align-items: center;
    } 
   
   .item {
     width: 25px;
     height: 25px;
     border-radius: 50px;
     background-color: darkslategray;
     color: white;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 22px;
     cursor: pointer;
     font-weight: bold;
   }
   
   .item:hover{
     padding: 7px;
     color: gold;
     border: 3px solid gold;
     background: black;
   }
   
   form {
      max-width: 100%;
   }
   
   input {
     user-select: none;
     border: none;
     width: 96%;
     height: 160px;
     border-radius: 10px;
     font-size: 30px;
     outline: none;
     text-align: right;
     background-color: black;
     color: white;
   }
   
   .input {
      user-select: none;
      grid-column: 1/-1;
      padding: 0;
   }
  
    .zero {
     width: 77%;
     grid-column: 1/3;
     background: darkslategray;
     justify-content: none;
     align-items: none;
   }
   
   .sign {
     background: orange;
   }
   
   .ops {
     background: gray;
     color: black;
   }
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  